.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: cursive;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-rap-songs-1583527287.png?crop=0.5xw:1xh;center,top&resize=980:*");
  background-size: 1600px 980px;
}
